body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.center-div
{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}